h1 {
    font-size:65px;
    font-family: sans-serif;
}
body {
    font-size:16px;
}
p {
    font-family: 'font-weight',sans-serif;
    font-size: 3em;
}
#new-color {
    color: orange;
    background-color: black;
}
.list-style {
    background-color: orange;
    font-style: italic;
    line-height: 30px;
}
#yellow {
    color: yellow;
}
#red {
    color: red;
}
#brown {
    color: brown;
}